<!DOCTYPE html>
<html>
<head>
  <title>Smart2Pay Flask Example</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
  <header class="main">
    <div class="container wide">
      <div class="content slim">
        <div class="set">
          <div class="fill">
            <a class="pseudoshop" href="/">Smart2Pay Demo<strong>SHOP</strong></a>
          </div>

        </div>
      </div>
    </div>

    <div class="notice-wrapper">
      {% with messages = get_flashed_messages() %}
        {% for message in messages %}
          <div class="show notice error notice-error">
            <span class="notice-message">{{ message }}</span>
          </div>
        {% endfor %}
      {% endwith %}
    </div>
  </header>

  {% block content %}{% endblock %}
</body>
</html>
