{% extends 'layout.html' %}
{% block content %}

<div class="wrapper">
  <div class="checkout container">

    <header>
      <h1>Buy The Thing</h1>
      <p>
        Really nice Thing, you should buy it
      </p>
      <h2>Only $299.99<small style="color: grey">(&euro;267.67)</small></h2>
    </header>

    <form id="payment-form" method="post" action="/checkouts">
          <label for="currency">
            <span class="">Currency</span>
            <div class="input-wrapper currency-wrapper">
              <select id="currency" name="currency">
                <option value="USD" selected="selected">$ USD $</option>
                <option value="EUR">&euro; EURO &euro;</option>
              </select>
            </div>
          </label>
          <label for="amount">
            <span class="">Amount</span>
            <div class="input-wrapper amount-wrapper">
              <input id="amount" name="amount" type="number" min="1" placeholder="Amount" value="1">
            </div>
          </label>
      <section>
        <div class="bt-drop-in-wrapper">
          <div id="bt-dropin"></div>
        </div>

          <input name="price_USD" type="hidden" value="299.99">
          <input name="price_EUR" type="hidden" value="267.67">
        </section>

      <button class="button" type="submit"><span>Checkout</span></button>
    </form>

    <div id="globalPayContainer" style="height:600px;"></div>

  </div>
</div>

<script>
$(document).ready(function(){
  $("#payment-form").submit(function(){
    var data = $(this).serialize();
    console.log("FORM DATA", data);
    $.post($(this).attr("action"), data, function(resp) {
      // body...
        console.log("RESPONSE", resp, resp.RedirectURL);
        renderGlobalPay(resp.RedirectURL, "globalPayContainer");
        // var iframe = $('<iframe src="' + resp.RedirectURL + '" style="height:600px; width: 100%"/>');
        // $("#globalPayContainer").append(iframe);
    });
    return false;
  });
});
</script>
{% endblock %}
